<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="test.IDao.TEuipLogMapper" >
  <resultMap id="BaseResultMap" type="test.domain.TEuipLog" >
    <id column="t_log_id" property="tLogId" jdbcType="VARCHAR" />
    <result column="t_preson_id" property="tPresonId" jdbcType="VARCHAR" />
    <result column="t_equip_id" property="tEquipId" jdbcType="VARCHAR" />
    <result column="t_log_addTime" property="tLogAddtime" jdbcType="VARCHAR" />
    <result column="t_fix_content" property="tFixContent" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    t_log_id, t_preson_id, t_equip_id, t_log_addTime, t_fix_content
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_equip_log
    where t_log_id = #{tLogId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_equip_log
    where t_log_id = #{tLogId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="test.domain.TEuipLog" >
    insert into t_equip_log (t_log_id, t_preson_id, t_equip_id, 
      t_log_addTime, t_fix_content)
    values (#{tLogId,jdbcType=VARCHAR}, #{tPresonId,jdbcType=VARCHAR}, #{tEquipId,jdbcType=VARCHAR}, 
      #{tLogAddtime,jdbcType=VARCHAR}, #{tFixContent,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="test.domain.TEuipLog" >
    insert into t_equip_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tLogId != null" >
        t_log_id,
      </if>
      <if test="tPresonId != null" >
        t_preson_id,
      </if>
      <if test="tEquipId != null" >
        t_equip_id,
      </if>
      <if test="tLogAddtime != null" >
        t_log_addTime,
      </if>
      <if test="tFixContent != null" >
        t_fix_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tLogId != null" >
        #{tLogId,jdbcType=VARCHAR},
      </if>
      <if test="tPresonId != null" >
        #{tPresonId,jdbcType=VARCHAR},
      </if>
      <if test="tEquipId != null" >
        #{tEquipId,jdbcType=VARCHAR},
      </if>
      <if test="tLogAddtime != null" >
        #{tLogAddtime,jdbcType=VARCHAR},
      </if>
      <if test="tFixContent != null" >
        #{tFixContent,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="test.domain.TEuipLog" >
    update t_equip_log
    <set >
      <if test="tPresonId != null" >
        t_preson_id = #{tPresonId,jdbcType=VARCHAR},
      </if>
      <if test="tEquipId != null" >
        t_equip_id = #{tEquipId,jdbcType=VARCHAR},
      </if>
      <if test="tLogAddtime != null" >
        t_log_addTime = #{tLogAddtime,jdbcType=VARCHAR},
      </if>
      <if test="tFixContent != null" >
        t_fix_content = #{tFixContent,jdbcType=VARCHAR},
      </if>
    </set>
    where t_log_id = #{tLogId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="test.domain.TEuipLog" >
    update t_equip_log
    set t_preson_id = #{tPresonId,jdbcType=VARCHAR},
      t_equip_id = #{tEquipId,jdbcType=VARCHAR},
      t_log_addTime = #{tLogAddtime,jdbcType=VARCHAR},
      t_fix_content = #{tFixContent,jdbcType=VARCHAR}
    where t_log_id = #{tLogId,jdbcType=VARCHAR}
  </update>
</mapper>